$blueColor: rgb(81, 140, 228);

body {
  font-family: Tahoma, sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin-top: 10%;
  margin-left: 20%;
}
textarea {
  resize: none;
}
.submitButton {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  padding: 15px;
  border: 2px solid $blueColor;
  border-radius: 10px;
  width: 20%;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: $blueColor;
}
.submitButton:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  background-color: rgb(57, 108, 185);
}
.submitButton:disabled {
  background-color: rgb(168, 182, 202);
  border: 2px solid rgb(124, 147, 182);
  color: rgb(80, 80, 80);
}
.formInput {
  position: relative;
  margin: 5px 0 5px 0;
  padding: 10px;
  border: 2px solid $blueColor;
  border-radius: 10px;
  width: 60%;
  font-size: 1rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
}
.formInput:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  border-color: rgb(0, 0, 0);
}
.label {
  display: block;
  width: 200px;
  height: 20px;
  font-weight: bold;
  margin-left: -35%;
}
.nameSurnameInput {
  text-transform: uppercase;
}
.errMsg {
  color: red;
  font-size: small;
}
.successMsg {
  color: rgb(1, 141, 1);
  padding-top: 10px;
}